* {
    margin: 0;
}

#sushi-pic {
    width: 760px;
    height: 100%;
    margin-bottom: -50px;
}

#social-webs {
    position: absolute;
    z-index: 9999;
    bottom: 45px;
    right: 260px;
    margin-right: 50px;
}

#social-webs img {
    float: right;
    margin-right: 20px;
    height: 15px;
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
}