#navbar-logo {
    float: left;
    left: 150px;
    width: 150px;
    height: 65px;
    top: 55px;
}

#navbar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    z-index: 999;
    width: 90%;
    padding: 50px;
}

#nav-items {
    align-items: center;
}

#nav-items li {
    margin-left: 30px;
    font-family: 'Athelas', serif;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    float: left;
}

nav a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-size: 16px;
}
